<div id="transaction_history__view">
    <div class="kui-content-area" id="content-area">
        <ul class="kui-list">
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-sec" data-key="transaction_history__account" data-value="{account: 'main'}">
                        Main
                    </p>
                </div>
            </li>
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-sec" data-key="transaction_history__account" data-value="{account: 'savings'}">
                        Savings
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>
