<div id="transaction_history_account__view">
    <div class="kui-content-area" id="content-area">
        <div class="kui-separator">
            <p class="kui-thi">
                Main
            </p>
        </div>
        <ul class="kui-list">
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-pri">10.12</p>
                    <p class="kui-sec">Last update: 10/03/2020 10:23</p>
                </div>
            </li>
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-pri">20.37</p>
                    <p class="kui-sec">Last update: 09/03/2020 10:23</p>
                </div>
            </li>
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-pri">30.37</p>
                    <p class="kui-sec">Last update: 08/03/2020 10:23</p>
                </div>
            </li>
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-pri">2.37</p>
                    <p class="kui-sec">Last update: 07/03/2020 10:23</p>
                </div>
            </li>
            <li tabindex="1">
                <div class="kui-list-cont">
                    <p class="kui-pri">7.37</p>
                    <p class="kui-sec">Last update: 06/03/2020 10:23</p>
                </div>
            </li>
        </ul>
    </div>
</div>

