<div id="view__menu">
    <ul class="kui-list kui-list-type_1 kui-content-area" id="content-area">
        <li tabindex="1" data-key="settings__accounts">
            <div class="kui-list-cont">
                <p class="kui-pri">Accounts</p>
            </div>
        </li>
        <li tabindex="1" data-key="settings_node">
            <div class="kui-list-img"></div>
            <div class="kui-list-cont">
                <p class="kui-pri">Node</p>
            </div>
        </li>
    </ul>
</div>